body {
    width: 100vw;
    background-color: #ddd;
    font-family: sans-serif;
}

.form-container {
    height: 89vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form-item {
    width: fit-content;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #172432;
    font-size: large;
}

.footer-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
}

#send {
    width: fit-content;
    display: inline-block;
    background-color: #172432;
    border: none;
    color: #ddd;
    padding: 15px;
    border-radius: 5px;
    font-size: large;   
}
