body {
    width: 100vw;
    background-color: #ddd;
    font-family: sans-serif;
}

.form-container {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.form-item {
    width: fit-content;
    /* margin: 10px; */
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #172432;
    font-size: large;
}

#send {
    width: fit-content;
    display: inline-block;
    background-color: #172432;
    border: none;
    color: #ddd;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: x-large;
    
}